.second-section{
    margin-top: 132px;
    padding-top: 123px;

  .content-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include e(left-side){
    transform: translateY(-3px);
    //margin-right: 53px;
  }

  @include e(left-side-title){
    font-family: $fontFamily;
    color:#3b4759;
    font-size: 36px;
    font-weight: 700;
    position: relative;
    margin-bottom: 18px;

    &::first-letter{
      color:  #00d8d3;
      font-weight: 700;
      position: relative;
    }

    &:before{
      content: '';
      position: absolute;
      top: 39px;
      background-color:  #00d8d3;
      width: 21px;
      height: 4px;
      transform: translateX(3px) translateY(-3px);
    }

  }

  @include e(left-side-text){
    max-width: 480px;
    font-family: $fontFamily;
    color:  #3b4759;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 17px;
  }

  @include e(button){
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    max-width: 286px;
    width: 100%;
    min-height: 35px;
    font-family: $fontFamily;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 58px;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
      background: -webkit-linear-gradient(0deg, #00eed2 0%, #00a1d6 100%);
      background: -moz-linear-gradient(0deg, #00eed2 0%, #00a1d6 100%);
      background: -o-linear-gradient(0deg, #00eed2 0%, #00a1d6 100%);
      background: -ms-linear-gradient(0deg, #00eed2 0%, #00a1d6 100%);
      background: linear-gradient(90deg, #00eed2 0%, #00a1d6 100%);
      z-index: -1;
      transition: all ease-in-out 0.7s;
    }

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease-in-out 1s;
      background: -webkit-linear-gradient(0deg, #00a1d6 0%, #00eed2 100%);
      background: -moz-linear-gradient(0deg, #00a1d6 0%, #00eed2 100%);
      background: -o-linear-gradient(0deg, #00a1d6 0%, #00eed2 100%);
      background: -ms-linear-gradient(0deg, #00a1d6 0%, #00eed2 100%);
      background: linear-gradient(90deg, #00a1d6 0%, #00eed2 100%);
      visibility: hidden;
      z-index: -1;
    }

    &:hover {
      &:before{
        opacity: 1;
        visibility: visible;
      }

      &:after{
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  @include e(right-side){
    transform: translateY(-12px);
  }

}