//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Cabin:400,700';

$fontFamily: 'Cabin', sans-serif;

$regular-font-family:'Circe-Regular', sans-serif;
$bold-font-family: 'Circe-Bold', sans-serif;

$baseFontSize: 13px;



$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";


// Slick
$slick-font-path: $fontPath;
$slick-loader-path: $imgPath;


 // Colors

