//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Quicksand:400,700';

$fontFamily: 'Quicksand', sans-serif;

$baseFontSize: 16px;

$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";


// Slick
$slick-font-path: $fontPath;
$slick-loader-path: $imgPath;


 // Colors

