//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Raleway:400,700';

$fontFamily: 'Raleway', sans-serif;


$baseFontSize: 13px;



$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";


// Slick
$slick-font-path: $fontPath;
$slick-loader-path: $imgPath;


 // Colors

